<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ORM example</title>
</head>
<body>
<h1>Pagina de inicio</h1>
<br>
<a href="{{url_for('nuevo_equipo')}}"><button>Crear nuevo_equipo</button></a>
</body>
</html>