<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">    
    <title>Nuevo Equipo</title>
</head>
<body>
    <h1>Nuevo Equipo</h1>
    <form method="post">
        {{ form.hidden_tag()}}
        <div>
            {{ form.nombre.label }}<br>
            {{ form.nombre(size=40) }}
        </div>
        <div>
            {{ form.pais.label }}<br>
            {{ form.pais(size=20) }}
        </div>
        <br>
        <div>
            <input type="submit" value="Guardar">
        </div>
    </form>
</body>
</html>